:root {
  --linkColor: #5ba4e5;
  --borderColor: #e2edf2;
  --dimedText: #9eabb3;
}

a, a:visited {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  color: var(--linkColor);
  text-decoration: underline;
}
