header {

  border-bottom: var(--borderColor) 1px solid;

  & .top-navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  & .site-name {

    font-size: 2.3rem;
    margin: 1.5rem 0;
    font-style: italic;
    letter-spacing: .05rem;

    & a, & a:visited {
      color: black;
      text-transform: uppercase;
      transition: color .2s;
    }

    & a:hover {
      color: var(--linkColor);
      text-decoration: none;
    }

  }

  & .nav {

    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;

    & li {
      margin-bottom: 0;
    }

    & li a {
      display: block;
      padding: 3rem 1rem;
      font-size: 1.3rem;
    }

    & a, & a:visited {
      color: black;
      text-transform: uppercase;
      transition: color .2s;
    }

    & a:hover {
      color: var(--linkColor);
      text-decoration: none;
    }

    & li a:hover {
      background: color(var(--borderColor) alpha(-50%));
    }

  }

}

a.to-nav {
  color: #fff;
  background: #4e4e4e;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 2px;
}

a.to-nav:hover,
a.to-nav:focus {
  color: #1c1c1c;
  background: #ccc;
}

/* navigation */
#tablet-nav {
  display: none;
}

#primary-nav {

  & ul {
      list-style: none;
      margin-bottom: 0;
  }

  & li {
    margin: 0;
  }

  & li a {
    display: block;
    padding: 1rem 20px;
    font-size: 1.3rem;
    border-top: var(--borderColor) 1px solid;
  }

  & a, & a:visited {
    color: black;
    text-transform: uppercase;
    transition: color .2s;
  }

  & a:hover {
    color: var(--linkColor);
    text-decoration: none;
    background: color(var(--borderColor) alpha(-50%));
  }

}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet  */
@media (min-width: 550px) {}

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 750px) {
  #primary-nav {
    display: none;
  }

  .to-nav {
    display: none;
  }

  #tablet-nav {
    display: flex;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  header .nav li a {
    padding: 3rem 1.5rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
