header {

  border-bottom: var(--borderColor) 1px solid;

  & .top-navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  & .site-name {
    font-size: 2.3rem;
    margin-bottom: 0;
    font-style: italic;
    letter-spacing: .2rem;
  }

  & .nav {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
  }

  & li {
    margin-bottom: 0;
  }

  & li a {
    display: block;
    padding: 3rem 1.5rem;
    font-size: 1.3rem;
  }

  & a, & a:visited {
    color: black;
    text-transform: uppercase;
    transition: color .2s;
  }

  & a:hover {
    color: var(--linkColor);
    text-decoration: none;
  }

}
